<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Marc's Barbershop</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Marc's Barbershop</h1>
    </div>
    <p>Current clients:</p>
    @if(Model.Count == 0)
    {
      <p>No clients were found at this time. Click the button below to start adding clients.</p>
    }
    @if(Model.Count != 0)
    {
      @foreach (var client in @Model["clients"])
      {
        <a href="/stylists/@Model["stylist"].GetId()/clients/@client.GetId()" class="btn btn-dark">@client.GetFirstName()</a>
      }
    }
    <div id="space">
    </div>
    <hr>
    <p><a href="/stylists/@Model["stylist"].GetId()/clients/new" class="btn btn-dark">Add a new client</a></p>
    <p><a href="/stylists" class="btn btn-dark">Back to stylist list</a></p>
    <p><a href="/" class="btn btn-dark">Home</a></p>
  </div>
</body>
</html>
