<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Snappy Snips</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Snappy Snips</h1>
    </div>
    <h5>Add and assign a new client to stylist @Model.Name:</h5><br>
    <form action='/stylists/@Model.Id/clients' method='post'>
      <input id='stylistId' name='stylistId' type='hidden' value='@Model.Id'>
      <label for="firstName">First Name: </label><br>
      <input id="firstName" name="firstName" type="text"><br>
      <label for="lastName">Last Name: </label><br>
      <input id="lastName" name="lastName" type="text"><br>
      <label for="phoneNumber">Phone Number: </label><br>
      <input id="phoneNumber" name="phoneNumber" type="text"><br>
      <label for="emailAddress">Email Address: </label><br>
      <input id="emailAddress" name="emailAddress" type="text"><br>
      <br>
      <button type="submit" class="btn btn-dark">Add client</button>
    </form>
    <div id="space">
    </div>
    <hr>
    <a href="/stylists/@Model.Id" class="btn btn-dark">Back to client list</a>
    <a href="/" class="btn btn-dark">Home</a>
  </div>
</body>
</html>
