<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Snappy Snips</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Snappy Snips</h1>
    </div>
    <h1>Welcome:</h1>
    <br>
    <p>You can use this application to:</p>
    <ul>
      <li>View your current stylist team</li>
      <li>Add stylists to your team</li>
      <li>Remove stylists from your team</li>
      <li>View your stylists' current customer base</li>
      <li>Add clients to your stylists' customer base</li>
      <li>Remove clients from your stylists' customer base</li>
    </ul>
    <div id="space">
    </div>
    <hr>
    <a href="/stylists" class="btn btn-dark">View stylists</a>
    <a href="/specialties" class="btn btn-dark">View specialties</a>
    <a href="/clients" class="btn btn-dark">View clients</a>
  </div>
</body>
</html>
