<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Marc's Barbershop</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Marc's Barbershop</h1>
    </div>
    <h1>Welcome:</h1>
    <br>
    <p>You can use this application to:</p>
    <ul>
      <li>View, add, edit and remove stylists</li>
      <li>View, add, edit and remove specialties</li>
      <li>View, add, edit and remove clients</li>
    </ul>
    <div id="space">
    </div>
    <hr>
    <a href="/stylists" class="btn btn-dark">View stylists</a>
    <a href="/specialties" class="btn btn-dark">View specialties</a>
  </div>
</body>
</html>
