<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Marc's Barbershop</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
    <h1>Marc's Barbershop</h1>
    </div>
    @if (@Model.Count == 0)
    {
        <p>No stylists were found at this time. Click the button below to start adding stylists.</p>
    }
    @if(Model.Count != 0)
    {
        @foreach (var stylist in Model)
        {
        <div class="list">
          <div class="card col-md-12">
            <div class="card-body">
              <h5 class="card-title">@stylist.GetName()</h5>
              <div class="card-text">
                <p><em>@stylist.GetDescription()</em></p>
                <p><a href="/stylists/@stylist.GetId()" class="btn btn-dark">See client list</a></p>
              </div>
            </div>
          </div>
        </div>
        <br>
        }
    }
    <div id="space">
    </div>
    <hr>
    <a href="/stylists/new" class="btn btn-dark">Add a new stylist</a>
    <a href="/" class="btn btn-dark">Home</a>
  </div>
</body>
</html>
