<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Marc's Barbershop</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Marc's Barbershop</h1>
    </div>
    <p>Update information for this client:</p>
    <form action="/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()" method="post">
      <label for="newFirstName">Name:</label><br>
      <input type="text" name="newFirstName" value="@Model["client"].GetFirstName()"><br>
      <label for="newLastName">Name:</label><br>
      <input type="text" name="newLastName" value="@Model["client"].GetLastName()"><br>
      <label for="newPhoneNumber">Name:</label><br>
      <input type="text" name="newPhoneNumber" value="@Model["client"].GetPhoneNumber()"><br>
      <label for="newEmailAddress">Name:</label><br>
      <input type="text" name="newEmailAddress" value="@Model["client"].GetEmailAddress()"><br>
      <button type="submit" class="btn btn-dark">Edit</button>
    </form>
    <div id="space">
    </div>
    <hr>
    <a href="/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()" class="btn btn-dark">Cancel</a>
  </div>
</body>
</html>
